<table>
    <tr class="tr-th">
        <th>L.p.</th>
        <th class="th-sort-column" data-column="v.vin">VIN</th>
        <th class="th-sort-column" data-column="b.name">Marka</th>
        <th class="th-sort-column" data-column="m.name">Model</th>
        <th class="th-sort-column" data-column="v.version">Wersja</th>
        <th class="th-sort-column" data-column="v.registration_number">Numer rejestracyjny</th>
        <th class="th-sort-column" data-column="c.surname">Właściciel</th>
    </tr>
    {% for key, vehicle in vehicles %}
        <tr>
            <td class="td-center">{{ key+1}}.</td>
            <td class="td-center">
                <a href="{{ path('vehicle_show', {vehicleId: vehicle.id}) }}">
                    {% if vehicle.vin is not null %}
                        {{ vehicle.vin }}
                    {% else %}
                        -----------------
                    {% endif %}
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
            </td>
            <td class="td-left">{{ vehicle.carModel.brand.name }}</td>
            <td class="td-left">{{ vehicle.carModel.name }}</td>
            <td class="td-left">{{ vehicle.version }}</td>
            <td class="td-center">{{ vehicle.registrationNumber }}</td>
            <td class="td-left">
                {% if vehicle.owner is not null %}
                    <a href="{{ path('customer_show', {customerId: vehicle.owner.id}) }}">{{ vehicle.owner.forename }} {{ vehicle.owner.surname }} {{ vehicle.owner.companyName }}</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
<div class="footer">
    <div class="pagination-buttons">
        <button class="btn-previous"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>poprzednia</button>
        <button class="btn-next">następna<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
    </div>
    <div class="pagination-info">
        <span>strona <span class="currentPage">{{ sortableParameters['currentPage'] }}</span></span> z <span>{{ sortableParameters['lastPage'] }}</span>
        <input type="hidden" class="retrievePath" value="{{ path('vehicle_retrieve') }}">
        <input type="hidden" class="sortColumnName" value="{{ sortableParameters['sortColumnName'] }}">
        <input type="hidden" class="sortOrder" value="{{ sortableParameters['sortOrder'] }}">
    </div>
    <div class="count-all">{{ sortableParameters.countAll }} rekordów</div>
</div>