<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Warsztatowiec{% endblock %}</title>
    {% block stylesheets %}
    {% stylesheets
        'assets/css/application/layout/layout.css'
        'assets/css/application/layout/header.css'
        'assets/css/application/layout/header-settings.css'
        'assets/css/application/layout/footer.css'
        'assets/css/application/layout/buttons.css'
    filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans&amp;subset=latin-ext" rel="stylesheet">
    {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
    <div id="wrapper">
        <section class="header">
            <header class="section-inner">
                {% block header %}
                    {% include 'AppBundle:layout:header.html.twig' %}
                {% endblock %}
            </header>
        </section>
        <section class="header">
            <div id="div-header-settings" class="section-inner">
                {% block settings %}
                    {% include 'AppBundle:layout:settings.html.twig' %}
                {% endblock %}
            </div>
        </section>
        <section class="main">
            <nav class="section-inner">
                {% block nav %}
                    {% include 'AppBundle:layout:nav.html.twig' %}
                {% endblock %}
            </nav>
        </section>
        <section class="main">
            <div id="div-navbar" class="section-inner">
                {% block navbar %}
                    {% include 'AppBundle:layout:navbar.html.twig' %}
                {% endblock %}
            </div>
        </section>
        <section class="main">
            <div id="div-customerinfo" class="section-inner">
                {% block customerinfo %}
                    {% include 'AppBundle:layout:customerinfo.html.twig' %}
                {% endblock %}
            </div>
        </section>
        <section class="main">
            <main class="section-inner">
                {% block main %}{% endblock %}
            </main>
        </section>
        <section class="footer">
            <footer class="section-inner">
                {% block footer %}
                    {% include 'AppBundle:layout:footer.html.twig' %}
                {% endblock %}
            </footer>
        </section>
    </div>
{% endblock %}
{% block javascripts %}
    <!--<script src="https://use.fontawesome.com/7bc874a398.js"></script> -->
    <script src="{{ asset('assets/js/font_awesome.js') }}"></script>
    <!-- <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script> -->
    <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/application/layout.js') }}"></script>
{% endblock %}
</body>
</html>
