<table class="default">
    <tr class="tr-th">
        <th>L.p.</th>
        <th class="th-sort-column" data-column="o.created_at">Data utworzenia</th>
        <th class="th-sort-column" data-column="c.surname">Klient</th>
        <th class="th-sort-column" data-column="b.name">Pojazd</th>
        <th>Statusy</th>
        <th class="th-sort-column" data-column="o.total_due">Należność</th>
        <th class="th-sort-column" data-column="o.paid">Zapłacone</th>
    </tr>
    {% for key, orderHeader in orderHeaders %}
        <tr>
            <td class="td-center">{{ key+1}}.</td>
            <td class="td-center">
                <a href="{{ path('order_show', {orderHeaderId: orderHeader.id}) }}"
                {% if orderHeader.priority == true %}
                    class="priority"
                {% endif %}
                >{{ orderHeader.createdAt|date }}<i class="fa fa-info-circle" aria-hidden="true"></i></a>
            </td>
            <td class="td-left">
                <a href="{{ path('customer_show', {customerId: orderHeader.customer.id}) }}">
                    {{ orderHeader.customer.forename }} {{ orderHeader.customer.surname }} {{ orderHeader.customer.companyName }}
                    {% if orderHeader.customer.mobilePhone1 is null %}
                        {{ orderHeader.customer.mobilePhone2|phone }}
                    {% else %}
                        {{ orderHeader.customer.mobilePhone1|phone }}
                    {% endif %}
                </a>
            </td>
            <td class="td-left">
                <a href="{{ path('vehicle_show', {vehicleId: orderHeader.vehicle.id}) }}">
                    {{ orderHeader.vehicle.carModel.brand.name }} {{ orderHeader.vehicle.carModel.name }} {{ orderHeader.vehicle.version }}
                </a>
            </td>
            <td class="statuses td-center" data-order-id="{{ orderHeader.id }}">
                {% include 'OrderBundle::status_buttons.html.twig' %}
            </td>
            <td class="td-center">{{ orderHeader.totalDue|money }}</td>
            <td class="td-center">
                {% if orderHeader.paidAt is not null %}
                    {{ orderHeader.paidAt|date }}
                {% else %}NIE{% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
<div class="footer">
    <div class="pagination-buttons">
        <button class="btn-previous"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>poprzednia</button>
        <button class="btn-next">następna<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
    </div>
    <div class="pagination-info">
        <span>strona <span class="currentPage">{{ sortableParameters['currentPage'] }}</span></span> z <span>{{ sortableParameters['lastPage'] }}</span>
        <input type="hidden" class="retrievePath" value="{{ path('order_retrieve') }}">
        <input type="hidden" class="sortColumnName" value="{{ sortableParameters['sortColumnName'] }}">
        <input type="hidden" class="sortOrder" value="{{ sortableParameters['sortOrder'] }}">
    </div>
    <div class="count-all">{{ sortableParameters.countAll }} rekordów</div>
</div>