<div class="content">
    <header><i class="fa fa-times" aria-hidden="true"></i></header>
    <main>
        {% for status in statuses %}
            <button
                    data-id="{{ status.id }}"
                    data-color="{{ status.hexColor }}"
                    {% for orderStatus in orderStatuses %}
                        {% if orderStatus.id == status.id %}
                        style="border-color: {{ status.hexColor }};"
                            class="active"
                        {% endif %}
                    {% endfor %}
            >{{ status.name }}</button>
        {% endfor %}
    </main>
    <footer>
        <button data-order-header-id="{{ orderHeaderId }}" class="btn-save">zapisz<i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    </footer>
</div>