<header>
    <div id="vehicle-new">-- nowy --</div>
</header>
<table>
    <tr>
        <th class="sort-column" data-column="b.name">Marka</th>
        <th class="sort-column" data-column="m.name">Model</th>
        <th class="sort-column" data-column="v.version">Wersja</th>
        <th class="sort-column" data-column="v.registration_number">Nr rejestracyjny</th>
        <th class="sort-column" data-column="v.vin">VIN</th>
    </tr>
    {% for vehicle in vehicles %}
        <tr data-id="{{ vehicle.id }}">
            <td class="td-left">{{ vehicle.carModel.brand.name }}</td>
            <td class="td-left">{{ vehicle.carModel.name }}</td>
            <td class="td-left">{{ vehicle.version }}</td>
            <td class="td-center">{{ vehicle.registrationNumber }}</td>
            <td class="td-center">{{ vehicle.vin }}</td>
        </tr>
    {% endfor %}
</table>
<footer>
    {% if vehicleSortableParameters.lastPage > 1 %}
        <div class="buttons">
            <button class="prev"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>poprzednia</button>
            <button class="next">następna<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
        </div>
        <div class="page-info">
            <span>{{ vehicleSortableParameters.currentPage }}</span>/<span>{{ vehicleSortableParameters.lastPage }}</span>
        </div>
    {% endif %}
    <input type="hidden" class="currentPage" value="{{ vehicleSortableParameters['currentPage'] }}">
    <input type="hidden" class="retrievePath" value="{{ path('order_header_retrieve_vehicles') }}">
    <input type="hidden" class="sortColumnName" value="{{ vehicleSortableParameters['sortColumnName'] }}">
    <input type="hidden" class="sortOrder" value="{{ vehicleSortableParameters['sortOrder'] }}">
</footer>