{% extends ':base:application.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        'assets/css/application/order/action_add.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block main %}
    {{ form_start(form, {'attr': {'class': 'main-form'}}) }}
    <h1 class="h-enum">1. Wybierz czynność lub dodaj nową</h1>
    <div class="form-part">
        {{ form_label(form.action) }}
        {{ form_widget(form.action) }}
        {{ form_errors(form.action) }}
        <div id="action-name"
        {% if form.action.vars.data is not null %}
            style="display: none"
        {% endif %}
        >
            {{ form_label(form.action_name) }}
            {{ form_widget(form.action_name) }}
            {{ form_errors(form.action_name) }}
        </div>
    </div>

    <h1 class="h-enum">2. Uzupełnij dane pozycji zlecenia</h1>
    <div class="form-part">
        {{ form_label(form.unit_price_net) }}
        {{ form_widget(form.unit_price_net) }}
        {{ form_errors(form.unit_price_net) }}

        {{ form_label(form.quantity) }}
        {{ form_widget(form.quantity) }}
        {{ form_errors(form.quantity) }}

        {{ form_label(form.measure) }}
        {{ form_widget(form.measure) }}
        {{ form_errors(form.measure) }}

        {{ form_label(form.total_net_before_discount) }}
        {{ form_widget(form.total_net_before_discount) }}
        {{ form_errors(form.total_net_before_discount) }}

        {{ form_label(form.discount_pc) }}
        {{ form_widget(form.discount_pc) }}
        {{ form_errors(form.discount_pc) }}

        {{ form_label(form.discount) }}
        {{ form_widget(form.discount) }}
        {{ form_errors(form.discount) }}

        {{ form_label(form.total_net) }}
        {{ form_widget(form.total_net) }}
        {{ form_errors(form.total_net) }}

        {{ form_label(form.vat_pc) }}
        {{ form_widget(form.vat_pc) }}
        {{ form_errors(form.vat_pc) }}

        {{ form_label(form.vat) }}
        {{ form_widget(form.vat) }}
        {{ form_errors(form.vat) }}

        {{ form_label(form.total_due) }}
        {{ form_widget(form.total_due) }}
        {{ form_errors(form.total_due) }}

        <div id="workmans" class="multiselect">
            <div class="selector">
                <label>pracownicy</label>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </div>
            <div class="content">
                <ul>
                    {% for workman in workmans %}
                        <li data-id="{{ workman.id }}"
                                {% for formWorkman in form.workmans.children %}
                                    {% if formWorkman.vars.value == workman.id %}
                                        class="active"
                                    {% endif %}
                                {% endfor %}
                        >
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <label>{{ workman.forename }} {{ workman.surname }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="ids">
                {% for workman in workmans %}
                    {% for formWorkman in form.workmans.children %}
                        {% if formWorkman.vars.value == workman.id %}
                            <input type="hidden" name="order_action[workmans][]" value="{{ workman.id }}">
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        {{ form_label(form.remarks) }}
        {{ form_widget(form.remarks) }}
        {{ form_errors(form.remarks) }}

        {{ form_widget(form._token) }}
        {{ form_widget(form.submit) }}
    </div>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'assets/js/application/trade.js'
        'assets/js/application/order/action_add.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}