{% extends ':base:login.html.twig' %}
{% block title %}Warsztatowiec - Rejestracja{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block main %}
    <div>
        <span class="headline1">Zaloguj się</span>
    </div>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form.user.email, {'attr': {'autofocus': true, 'placeholder': form.user.email.vars.label }}) }}
        {{ form_widget(form.user.password, {'attr': {'placeholder': form.user.password.vars.label }}) }}
        {{ form_widget(form._token) }}
        {{ form_widget(form.submit) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
    <!-- <div>Zapomniałeś hasła?</div> -->
{% endblock %}
{% block footer %}Nie masz jeszcze konta? <a href="{{ path('app_register') }}">Zarejestruj</a>{% endblock %}