{% extends ':base:application.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'assets/css/application/warehouse/index.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block main %}
    <div id="div-good-sortable" class="div-sortable">
        <div class="header">
            <div class="div-input">
                <input type="text" size="20" maxlength="40" autofocus="autofocus" placeholder="Wyszukaj klienta" class="input-search" value="{{ sortableParameters['search'] }}">
            </div>
            <div id="filter-categories" class="filter">
                <div class="selector">
                    <label>kategorie</label>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <div class="content">
                    <ul>
                        {% for category in categories %}
                            <li>
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <label data-id="{{ category.id }}">{{ category.name }}</label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="filter-models" class="filter">
                <div class="selector">
                    <label>pojazdy</label>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <div class="content">
                    <ul>
                        {% for carModel in carModels %}
                            <li>
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <label data-id="{{ carModel.id }}">{{ carModel.brand.name }} {{ carModel.name }}</label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="div-limit">
                <span>Liczba rekordów na stronie:</span>
                <select class="select-limit">
                    {% for limit in limitSet %}
                        <option value="{{ limit }}">{{ limit }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="content">
            {% include 'WarehouseBundle:good:sortable_content.html.twig' %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'assets/js/application/warehouse/index.js'
        'assets/js/application/selectable.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}