{% extends ':base:application.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'assets/css/application/warehouse/good_show.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block main %}
    <div class="show-box">
        <h1>
            <label>Dane towaru</label>
        </h1>
        <section>
            <table class="info-table">
                <tr>
                    <td>Nazwa</td>
                    <td>{{ good.name }}</td>
                </tr>
                <tr>
                    <td>Kategorie</td>
                    <td class="show-labels">
                        {% for category in good.categories %}
                            <label>{{ category.name }}</label>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Pojazdy</td>
                    <td class="show-labels">
                        {% for carModel in good.carModels %}
                            <label>{{ carModel.brand.name }} {{ carModel.name }}</label>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Ilość całkowita</td>
                    <td>
                        {{ good.quantity|money }}
                    </td>
                </tr>
                <tr>
                    <td>Jednostka</td>
                    <td>
                        {{ good.measure.name }}
                    </td>
                </tr>
                <tr>
                    <td>Uwagi</td>
                    <td>{{ good.remarks }}</td>
                </tr>
                <tr>
                    <td>Wprowadzono</td>
                    <td>
                        {{ good.createdAt|date }} przez <a href="{{ path('workflow_workman_show', {userId: good.createdBy.id}) }}">{{ good.createdBy.forename }} {{ good.createdBy.surname }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Zaktualizowano</td>
                    <td>
                        {{ good.updatedAt|date }} przez <a href="{{ path('workflow_workman_show', {userId: good.updatedBy.id}) }}">{{ good.updatedBy.forename }} {{ good.updatedBy.surname }}</a>
                    </td>
                </tr>
                <tr class="footer">
                    <td colspan="2">
                        <a class="btn-edit" href="{{ path('warehouse_good_edit', {goodId: good.id}) }}">edytuj
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                        <button class="btn-remove">usuń
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </section>
    </div>
    <div class="show-box">
        <h1>
            <label>Indeksy</label>
        </h1>
        <section>
            <table class="details-table">
                <tr>
                    <th>L.p.</th>
                    <th>Indeks</th>
                    <th>Producent</th>
                    <th>Ilość [{{ good.measure.shortcut}}]</th>
                    <th>Cena jedn. netto</th>
                    <th>Wprowadzono</th>
                    <th>Zaktualizowano</th>
                    <th colspan="2"></th>
                </tr>
                {% for key, indexx in good.indexxes %}
                    {% if indexx.removedAt is null and indexx.deletedAt is null %}
                        <tr class="header">
                            <td class="td-center num">{{ key+1 }}.</td>
                            <td class="td-left">{{ indexx.name }}</td>
                            <td class="td-left">{{ indexx.producer.name }}</td>
                            <td class="td-center">{{ indexx.quantity|money }}</td>
                            <td class="td-center">{{ indexx.unitPriceNet|money }}</td>
                            <td class="td-center double-info">
                                <div>
                                    <label>{{ indexx.createdAt|date }}</label>
                                    <a href="{{ path('workflow_workman_show', {userId: indexx.createdBy.id}) }}">{{ indexx.createdBy.forename }} {{ indexx.createdBy.surname }}</a>
                                </div>
                            </td>
                            <td class="td-center double-info">
                                <div>
                                    <label>{{ indexx.createdAt|date }}</label>
                                    <a href="{{ path('workflow_workman_show', {userId: indexx.updatedBy.id}) }}">{{ indexx.updatedBy.forename }} {{ indexx.updatedBy.surname }}</a>
                                </div>
                            </td>
                            <td class="td-center">
                                <a class="btn-edit btn-square" href="{{ path('warehouse_indexx_edit', {indexxId: indexx.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td class="td-center">
                                <button class="btn-remove btn-square"><i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </section>
    </div>
    {% if deliveryDetails|length > 0 %}
        <div class="show-box">
            <h1>
                <label>Przyjęcia</label>
            </h1>
            <section>
                <table class="details-table">
                    <tr>
                        <th>L.p.</th>
                        <th>Indeks</th>
                        <th>Cena jedn. netto [zł]</th>
                        <th>Przyjęta ilość [{{ good.measure.shortcut }}]</th>
                        <th>Należność całkowita [zł]</th>
                        <th>Data utworzenia</th>
                        <th></th>
                    </tr>
                    {% for key, deliveryDetail in deliveryDetails %}
                        <tr class="header">
                            <td class="td-center num">{{ key+1 }}.</td>
                            <td class="td-left">{{ deliveryDetail.indexx.name }}</td>
                            <td class="td-center">{{ deliveryDetail.unitPriceNet|money }}</td>
                            <td class="td-center">{{ deliveryDetail.quantity|money }}</td>
                            <td class="td-center">{{ deliveryDetail.totalDue|money }}</td>
                            <td class="td-center">{{ deliveryDetail.createdAt|date }}</td>
                            <td class="td-center">
                                <a class="btn-info" target="_blank" href="{{ path('delivery_show', {deliveryHeaderId: deliveryDetail.deliveryHeader.id}) }}">szczegóły<i class="fa fa-info-circle" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </section>
        </div>
    {% endif %}
    {% if saleDetails|length > 0 %}
        <div class="show-box">
            <h1>
                <label>Wystawienia</label>
            </h1>
            <section>
                <table class="details-table">
                    <tr>
                        <th>L.p.</th>
                        <th>Indeks</th>
                        <th>Cena jedn. netto [zł]</th>
                        <th>Wystawiona ilość [{{ good.measure.shortcut }}]</th>
                        <th>Należność całkowita [zł]</th>
                        <th>Data utworzenia</th>
                        <th></th>
                    </tr>
                    {% for key, saleDetail in saleDetails %}
                        <tr class="header">
                            <td class="td-center num">{{ key+1 }}.</td>
                            <td class="td-left">{{ saleDetail.indexx.name }}</td>
                            <td class="td-center">{{ saleDetail.unitPriceNet|money }}</td>
                            <td class="td-center">{{ saleDetail.quantity|money }}</td>
                            <td class="td-center">{{ saleDetail.totalDue|money }}</td>
                            <td class="td-center">{{ saleDetail.createdAt|date }}</td>
                            <td class="td-center">
                                <a class="btn-info" target="_blank" href="{{ path('sale_show', {saleHeaderId: saleDetail.saleHeader.id}) }}">szczegóły<i class="fa fa-info-circle" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </section>
        </div>
    {% endif %}
    {% if orderIndexxes|length > 0 %}
        <div class="show-box">
            <h1>
                <label>Zlecenia serwisowe</label>
            </h1>
            <section>
                <table class="details-table">
                    <tr>
                        <th>L.p.</th>
                        <th>Indeks</th>
                        <th>Cena jedn. netto [zł]</th>
                        <th>Zużyta ilość [{{ good.measure.shortcut }}]</th>
                        <th>Należność całkowita [zł]</th>
                        <th>Data utworzenia</th>
                        <th></th>
                    </tr>
                    {% for key, orderIndexx in orderIndexxes %}
                        <tr class="header">
                            <td class="td-center num">{{ key+1 }}.</td>
                            <td class="td-left">{{ orderIndexx.indexx.name }}</td>
                            <td class="td-center">{{ orderIndexx.unitPriceNet|money }}</td>
                            <td class="td-center">{{ orderIndexx.quantity|money }}</td>
                            <td class="td-center">{{ orderIndexx.totalDue|money }}</td>
                            <td class="td-center">{{ orderIndexx.createdAt|date }}</td>
                            <td class="td-center">
                                <a class="btn-info" target="_blank" href="{{ path('order_show', {orderHeaderId: orderIndexx.orderHeader.id}) }}">szczegóły<i class="fa fa-info-circle" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </section>
        </div>
    {% endif %}
    {% if indexxEdits|length > 0 %}
        <div class="show-box">
            <h1>
                <label>Edycje</label>
            </h1>
            <section>
                <table class="details-table">
                    <tr>
                        <th>L.p.</th>
                        <th>Indeks</th>
                        <th>Ilość przed</th>
                        <th>Ilość po</th>
                        <th>Zmiana</th>
                        <th>Data</th>
                        <th>Edytował</th>
                    </tr>
                    {% for key, indexxEdit in indexxEdits %}
                        <tr class="header">
                            <td class="td-center num">{{ key+1 }}.</td>
                            <td class="td-left">{{ indexxEdit.indexx.name }}</td>
                            <td class="td-center">{{ indexxEdit.beforeQty|money }}</td>
                            <td class="td-center">{{ indexxEdit.afterQty|money }}</td>
                            <td class="td-center">{{ indexxEdit.changeQty|money }}</td>
                            <td class="td-center">{{ indexxEdit.createdAt|date }}</td>
                            <td class="td-center double-info">
                                <a target="_blank" href="{{ path('workflow_workman_show', {userId: indexxEdit.createdBy.id}) }}">{{ indexxEdit.createdBy.forename }} {{ indexxEdit.createdBy.surname }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </section>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'assets/js/application/show.js'
        'assets/js/application/warehouse/good_show.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}