<table>
    <tr class="tr-th">
        <th>L.p.</th>
        <th class="th-sort-column" data-column="c.created_at">Data utworzenia</th>
        <th class="th-sort-column" data-column="c.forename">Imię</th>
        <th class="th-sort-column" data-column="c.surname">Nazwisko</th>
        <th class="th-sort-column" data-column="c.company_name">Firma</th>
        <th class="th-sort-column" data-column="c.mobile_phone1">Telefon kom.</th>
        <th class="th-sort-column" data-column="c.email">E-mail</th>
    </tr>
    {% for key, customer in customers %}
        <tr>
            <td class="td-center">{{ key+1}}.</td>
            <td class="td-center"><a href="{{ path('customer_show', {customerId: customer.id}) }}">{{ customer.createdAt|date }}<i class="fa fa-info-circle" aria-hidden="true"></i></a></td>
            <td class="td-left">{{ customer.forename }}</td>
            <td class="td-left">{{ customer.surname }}</td>
            <td class="td-left">{{ customer.companyName }}</td>
            <td class="td-center">{{ customer.mobilePhone1|phone }}</td>
            <td class="td-left">{{ customer.email }}</td>
        </tr>
    {% endfor %}
</table>
<div class="footer">
    <div class="pagination-buttons">
        <button class="btn-previous"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>poprzednia</button>
        <button class="btn-next">następna<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
    </div>
    <div class="pagination-info">
        <span>{{ sortableParameters['currentPage'] }}</span>/<span>{{ sortableParameters['lastPage'] }}</span>
        <input type="hidden" class="retrievePath" value="{{ path('customer_retrieve') }}">
        <input type="hidden" class="sortColumnName" value="{{ sortableParameters['sortColumnName'] }}">
        <input type="hidden" class="sortOrder" value="{{ sortableParameters['sortOrder'] }}">
    </div>
</div>